@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Comfortaa:wght@600&family=Palette+Mosaic&family=Prompt&family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  font-family: "Gowun Dodum", sans-serif;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Home */
.display-home {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(135deg, #e3fdfd, 55%, #a6e3e9, 55%, #a6e3e9);
}
.display-text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.display-text h1 {
  font-size: 50px;
}
.display-text span {
  font-size: 20px;
}
.display-img {
  width: 55%;
}
.display-img img {
  width: 100%;
}
/*          Features         */
.features {
  font-size: 35px;
  font-family: "Comfortaa", cursive;
  color: rgb(192, 163, 122);
  text-align: center;
  /* background: linear-gradient(90deg, #f5c6aa, #fff5eb, #f8e2cf); */
  background-color: #fce8d4;
  position: relative;
  height: 390px;
  padding: 80px 12px;
  /* margin-bottom: 150px; */
}
.feature-cards {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  margin-top: 80px;
}
.feature-card {
  width: 25%;
  background-color: #f5c6aa;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.feature-card img {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 80px;
  position: absolute;
  left: 38%;
  top: -19.5%;
  background-color: #fdf369;
  padding: 5px;
  border-radius: 10%;
}
.feature-card h1 {
  font-size: 35px;
  margin: 5px 0px;
  margin-top: 27px;
  font-family: "Cairo", sans-serif;
  color: rgb(107, 98, 98);
}
.feature-card p {
  font-size: 20px;
  margin-top: 20px;
  font-family: "Prompt", sans-serif;
  color: rgb(107, 98, 98);
}
/* Footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #565d47;
  color: #f9f9f9;
  padding: 20px 35px;
  padding-bottom: 12px;
  font-size: 18px;
  font-family: "Comfortaa", cursive;
}
.footer .logo {
  display: block;
}

/*      Book     */
.book {
  cursor: pointer;
  width: 200px;
  height: 280px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(0, 0, 0, 0.5);
}
.book .img-box img {
  border-radius: 5px;
  width: 200px;
  height: 280px;
  object-fit: cover;
  /* transition: transform 0.4s ease-out; */
}
/* .book .img-box img:hover {
  transform: scale(1.1);
} */
.book .text-box {
  font-size: 19px;
  width: 200px;
  padding: 20px;
  position: absolute;
  padding-top: 230px;
  padding-bottom: 40px;
  bottom: 0px;
  /* background-color: rgba(255, 255, 0, 0.493); */
  opacity: 0;
  color: rgb(255, 255, 255);
  transform: translateY(45px);
  transition: all 0.5s ease-out;
}
.book .text-box:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(0px);
  opacity: 1;
}

/*        Top Picks        */
.top-picks {
  background-color: #f7fbfc;
  display: flex;
  gap: 60px;
  flex-direction: column;
  padding-top: 150px;
}
.top-picks h2 {
  align-self: center;
  font-size: 50px;
  color: #8e9ea8;
}
.top-picks p {
  align-self: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: "Cairo", sans-serif;
  background-color: #3d82d1;
  padding: 5px 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 4px #5086c4af;
  transition: box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.top-picks p:hover {
  box-shadow: 0px 0px 0px 3px #5086c4af;
}
.top-picks p:active {
  box-shadow: 0px 0px 0px 2px #5086c4af;
}
.top-picks-books {
  display: flex;
  justify-content: space-evenly;
}
